[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-socketio = "*"
rx = "==3.0.0-a2"
pyserial = "*"
pyyaml = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
